<md-content layout="column" flex layout-padding>
		<h2>{{product.name}}</h2>
	<md-list class="md-2-line" ng-repeat="element in product.elements">
			<md-subheader class="md-no-sticky">{{element.name}}</md-subheader>
			<md-list-item>
				<div>
					<div ng-show="element.disadvDescription" style="color: red">缺點：{{element.disadvDescription}}</div>
					<div ng-show="element.advDescription" style="color: green">優點：{{element.advDescription}}</div>
				</div>
			</md-list-item>
	</md-list>
</md-content>