<!DOCTYPE html>
<html lang="en">
<head>
<title>Life for Food</title>
<meta name="viewport" content="width=device-width" charset="utf-8">
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
</head>
<body ng-app="app" layout="row" ng-controller="AppCtrl as ctrl">

	<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
		md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

		<md-toolbar class="md-tall md-hue-2">
			<span flex></span>
			<div layout="column" class="md-toolbar-tools-bottom inset">
				<span>口袋名單</span>
			</div>
		</md-toolbar>
		
		<md-list>
			<md-list-item ng-show="myProducts.length > 1">
				<md-button class="md-raised md-primary" ng-click="analysisDanger()">交叉分析</md-button>
				<md-button class="md-raised" ng-click="clearProducts()">清除列表</md-button>
			</md-list-item>
			<md-divider ng-show="myProducts.length > 0"></md-divider>
			<md-list-item ng-show="myProducts.length == 0">
				<p>空空</p>
			</md-list-item>
			<md-list-item ng-repeat="product in myProducts" ng-click="showProduct(product.id)">
				<p>{{product.name}}</p>
				<md-checkbox class="md-secondary" ng-model="product.checked"></md-checkbox>
			</md-list-item>
		</md-list>
	</md-sidenav>
	
	<div laytou="column" layout-fill>
		<!-- Normal -->
		<md-toolbar ng-show="!searching">
			<div class="md-toolbar-tools">
				<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
					<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
				</md-button>
				<h3>Life for Food</h3>
				<span flex></span>
				<md-button aria-label="Search" ng-click="searching = !searching">
					Search
				</md-button>
			</div>
		</md-toolbar>
		
		<!-- Search -->
		<md-toolbar ng-show="searching">
			<div class="md-toolbar-tools">
			<md-button aria-label="Back" ng-click="searching = !searching">
				Back
			</md-button>

			<md-autocomplete
				md-no-cache="ctrl.noCache" 
				md-selected-item="ctrl.selectedItem"
				md-search-text="ctrl.searchText"
				md-items="item in ctrl.querySearch(ctrl.searchText)"
				md-item-text="item.display" 
				md-floating-label="Something here">
				
				<md-item-template>
					<span md-highlight-text="ctrl.searchText">{{item.display}}</span>
				</md-item-template>
			</md-autocomplete>

			<span flex></span>
				<md-button aria-label="Search" ng-click="searching = !searching">
					Search
				</md-button>
			</div>
		</md-toolbar>
	
		<div ng-view></div>
	</div>
	
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="js/ctrl.js"></script>

	<script type="text/javascript">
          angular
          	.module('app', ['ngMaterial', 'ngRoute', 'ctrl'])
          	
          	/**
			 * Config router
			 */
			.config(function($routeProvider, $controllerProvider, $mdIconProvider) {
				$routeProvider
					.when('/recommend', {
						templateUrl: 'view/recommend.html'
					})
					.when('/group/:id', {
						templateUrl: 'view/group.html'
					})
					.when('/info/:id', {
						templateUrl: 'view/info.html'
					})
					.when('/product/:id', {
						templateUrl: 'view/product.html',
						controller: 'ProductCtrl'
					})
					.when('/event', {
						templateUrl: 'view/event.html',
						controller: 'EventCtrl'
					})
					.otherwise({redirectTo: '/recommend'})
					;
			})
			
			/**
			* Config icon
			*/
			.config(function($mdIconProvider){
				$mdIconProvider
					/* .icon("menu", "icons/menu.svg", 24) */
					;
			})
			;
    </script>

</body>
</html>